<app-page-header [heading]="'Trabalhos'" [icon]="'fa-th-list'"></app-page-header>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="infos">
                    <div class="nome-empresa">
                        Doceria Santa Julia
                    </div>
                    <div class="data-entrega">
                        <small> Entrega : 19/08/18</small>
                    </div>
                </div>
                <small>Status do Serviço</small>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
            <div class="card-body">
                Analise de fluxo de caixa e emissao de notas fiscais no mes de abril/2018.
            </div>
            <div class="status">
                <i class="fa fa-comment fa-fw"></i>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="infos">
                    <div class="nome-empresa">
                        Borracharia Centro Norte - ME
                    </div>
                    <div class="data-entrega">
                        <small> Entrega : 19/08/18</small>
                    </div>
                </div>
                <small>Status do Serviço</small>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100"></div>

                </div>
            </div>
            <div class="card-body">
                Concialacao bancaria do mes de abril/2018.
            </div>
            <div class="status">
                <i class="fa fa-comment fa-fw"></i>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="infos">
                    <div class="nome-empresa">
                        Farmacia da Estrela
                    </div>
                    <div class="data-entrega">
                        <small> Entrega : 19/08/18</small>
                    </div>
                </div>
                <small>Status do Serviço</small>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
            <div class="card-body">
                Regularizacao de Imposto de renda do mes 11/2017 e 12/2018.
            </div>
            <div class="status">
                <i class="fa fa-comment fa-fw"></i>
            </div>
        </div>
    </div>



</div>