<div [@routerTransition]>
    <h2 class="text-muted">Dashboard
        <small>Estaticas </small>
    </h2>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'Ultimas Mensagens'"></app-stat>
                </div>
                <div class="col-6">
                    <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Ultimos Pagamentos!'"></app-stat>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'Novas Tarefas '"></app-stat>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card mb-3">
                <div class="card-header">
                    Ultimas Analises
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
</div>