<div id="servicos" style="float:left">

  <p>
    empresa works!

    <ngx-datatable id="table"
      style="width: 100%"
      class="material"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="5"
      [selected]="selected"
      [selectionType]="'checkbox'"
      [selectAllRowsOnPage]="false"
      [displayCheck]="displayCheck"
      (select)='onSelect($event)'>
      <ngx-datatable-column 
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="title"></ngx-datatable-column>
    </ngx-datatable>

    
  </p>

  <input type="button" value="procurar" (click)="pesquisar()"/>  
</div>

<div *ngIf="pesquisaFinalizada" id="profissionais" style="float:left">

<ul>
  <li *ngFor="let profissional of profissionais" >
    <div style="border:1px solid" (click)="mostraDetalheProfissional(profissional)">
       <strong>{{profissional.name}}</strong><br>
      <span>{{profissional.description}}</span>
    </div>
  </li>
</ul>

</div>

<div *ngIf="detalheSolicitado" id="detalhe_profissional" style="float:left">
  <div>
    <img src="" alt="FOTO_PERFIL" class="" style="width:100px;height:86px;background:#3f51b569;display:flex">

    <pre>
      <strong>{{detalheProfissional | json}}</strong>
    </pre>

    <input type="date" name="data_entrega" [(ngModel)]="dateDelivery" />
    <br>
    <textarea name="descricao" id="descricao" [(ngModel)]="descricao" cols="40" rows="5"></textarea>
    <input type="button" value="Enviar Proposta" (click)="enviarProposta()">

  </div>
  
</div>


