
    #servicos{
        width: 200px;
    }

    #profissionais{
        width: 450px;
        margin-left:30px;
    }

    #detalhe_profissional{
        width: 350px;
        margin-left:30px;
    }

    #table * {
        background: green !important
    }