<app-page-header [heading]="'Ultimas Propostas'" [icon]="'fa-th-list'"></app-page-header>
    
    

    <div *ngFor="let proposta of propostas">
       
        <div *ngIf="!propostaAceita" class="card">
            <div class="card-body">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{proposta.title}}</h4>
                                <h4 class="timeline-title">Status: {{proposta.status}}</h4>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>{{proposta.createdat}}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    {{proposta.description}}
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-outline-success" style="float: right;" (click)="aceitarProposta(proposta)">Aceitar Proposta</button>
                    </li>
                </ul>
            </div>


        </div>
        
        <br>

    </div>

    <!--<br>
    
    <div class="card">
        <div class="card-body">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            <p>
                                <small class="text-muted">
                                    <i class="fa fa-clock-o"></i> 11 hours ago </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Capa da Proposta Se possível, faça uma capa estilizada, com uma boa apresentação visual, um papel mais duro que o sufite
                                e a logomarca da sua empresa. Índice da Proposta Comercial Enumere as páginas e mostre ao leitor
                                o tamanho do documento, preparando-o para o que virá em seguida. Introdução Nesta etapa você
                                vai ambientalizar o seu cliente com o serviço proposto. Aqui a sua proposta de serviço é apresentada
                                de uma maneira geral, abordando rapidamente o potencial que o seu produto/serviço oferece
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-outline-success" style="float: right;">Aceitar Proposta</button>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            <p>
                                <small class="text-muted">
                                    <i class="fa fa-clock-o"></i> 11 hours ago </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Capa da Proposta Se possível, faça uma capa estilizada, com uma boa apresentação visual, um papel mais duro que o sufite
                                e a logomarca da sua empresa. Índice da Proposta Comercial Enumere as páginas e mostre ao leitor
                                o tamanho do documento, preparando-o para o que virá em seguida. Introdução Nesta etapa você
                                vai ambientalizar o seu cliente com o serviço proposto. Aqui a sua proposta de serviço é apresentada
                                de uma maneira geral, abordando rapidamente o potencial que o seu produto/serviço oferece
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-outline-success" style="float: right;">Aceitar Proposta</button>
                </li>
            </ul>
        </div>
    </div>-->