<app-page-header [heading]="'Ultimas Propostas'" [icon]="'fa-th-list'"></app-page-header>
    <div *ngFor="let proposta of propostas">
        <div *ngIf="!propostaAceita" class="card">
            <div class="card-body">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Fluxo de Caixa</h4>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>{{proposta.createdat}}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    {{proposta.description}}
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-outline-success" style="float: right;" (click)="aceitarProposta(proposta)">Aceitar Proposta</button>
                    </li>
                </ul>
            </div>
        </div>
        <br>
    </div>

    